<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <!-- Above -->
    <div style="width: 430px;right: 1%;position: absolute;">
        <div class="alert alert-primary" role="alert">
            Welcome to Simple Interaction By Thiti 60090500410
        </div>
    </div>
    <!-- End Above -->
    <main>
        <div style="margin-top: 100px" class="row">
            <div class="col-12">
                <img style="height: 280px;" src="https://png.pngtree.com/element_our/png_detail/20180725/the-husky-dog-png_51753.jpg" class="rounded float-left" alt="...">
                <div class="float-left">
                    <div class="ml-2">
                        <div class="alert alert-dark text-center" role="alert">
                            Simple Interaction : Paths Below <img style="width: 10px;" src="http://cdn.onlinewebfonts.com/svg/img_330091.png" />
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item active">http://localhost:<%= curPort %>/</li>
                            <li class="list-group-item">http://localhost:<%= curPort %>/speak/[whatever]</li>
                            <li class="list-group-item">http://localhost:<%= curPort %>/repeat/[word]/[amount]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>